body,
html {
  font-family: $font--primary;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: $font--primary;
  margin: 0;
  padding: 0;

  > * {
    margin-bottom: 2rem;
  }
}

.container {
  margin: 0 auto;
  width: min(90ch, 90vw);

  &--bleed {
    width: 100%;
  }
}

$directions: left, right, center;

@each $direction in $directions {
  .u-ta-#{$direction} {
    text-align: #{$direction};
  }
}
